<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido a Mi Sitio</title>
</head>
<body>

    <div class="container mt-5">
        <div>
            <h1>¡Bienvenido a Mi Sitio!</h1>
            <p>Explora todas las increíbles funcionalidades que ofrecemos.</p>
            <hr>
            <p>¿Listo para empezar?</p>
            <a href="{% url 'signin' %}">Iniciar Sesión</a>
            <a href="{% url 'signup' %}">Registrarse</a>
            {% if user.is_authenticated %}
                <a href="{% url 'tasks' %}">Volver a Tareas</a>
            {% endif %}
            
            <!-- Formulario de búsqueda -->
            <form method="get" action="{% url 'tasks' %}">
                <input type="search" placeholder="Buscar tarea" name="q">
                <button type="submit">Buscar</button>
            </form>
        </div>
    </div>

    <!-- No hay script de Bootstrap en este ejemplo -->
</body>
</html>
