{% extends 'base.html' %}

{% block content %}
<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <h1>{{ task.titulo }}</h1>

            {{ error }}
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button>
                   Actualizar 
                </button>
            </form>
            
            <div>
                <form action="{% url 'complete_task' task.id %}" method="POST">
                    {% csrf_token %}
                    <button>
                        Completada
                    </button>
                </form>
            
                <form action="{% url 'delete_task' task.id %}" method="POST">
                    {% csrf_token %}
                    <button>
                        Eliminar Tarea
                    </button>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}
